<!DOCTYPE html>

<html ng-app="socializer2">
  <head>
    <title>Socializer 2.0</title>
    <meta name="charset" content="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/agorava-socializer-20/" />
    <link rel="stylesheet" media="screen" href="resources/styles/app.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Socializer 2.0</a>
      </div>
      
      <ul class="nav navbar-nav navbar-right services" ng-controller="SocialCtrl">
        <li ng-repeat="service in session.services | orberBy:'name':false" ng-click="service.hasOAuth ? selectService(service) : startDance(service)">
          <span class="navbar-text fa fa-fw" ng-class="'fa-' + service.name.toLowerCase() + (service.hasOAuth ? ' enabled' : ' disabled') + (service.name === session.currentService.name ? ' active' : '')" ></span>
        </li>
      </ul>
    </nav>
    
    <div ng-view></div>
    
    <script type="text/javascript" src="resources/scripts/vendors/angular/angular.js"></script>
    <script type="text/javascript" src="resources/scripts/vendors/angular/angular-route.js"></script>
    <script type="text/javascript" src="resources/scripts/vendors/angular/angular-resource.js"></script>
    
    <script type="text/javascript" src="resources/scripts/app/config.js"></script>
    <script type="text/javascript" src="resources/scripts/app/router.js"></script>
    <script type="text/javascript" src="resources/scripts/app/session.js"></script>
    <script type="text/javascript" src="resources/scripts/app/social.js"></script>
  </body>
</html>
